---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '@/components/ui/header';
import speaker_data from '@/test_json/test_speakers';

import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"
import '@/styles/globals.css'
---

<Layout title="Welcome to Astro.">
	<Header>Heyo</Header>

	<Table>
		<TableCaption>JavaZone</TableCaption>
		<TableHeader>
		  <TableRow>
			<TableHead className="w-[300px]">Title</TableHead>
			<TableHead>Speaker</TableHead>
			<TableHead>Format</TableHead>
			<TableHead className="text-right">Length</TableHead>
		  </TableRow>
		</TableHeader>
		<TableBody>
		  {speaker_data.sessions.map(session => (
			<TableRow>
			  <TableCell className="font-medium">{session.data.title.value}</TableCell>
			  <TableCell>{session.speakers[0].name}</TableCell>
			  <TableCell>{session.data.format.value}</TableCell>
			  <TableCell className="text-right">{session.data.length.value} min</TableCell>
			</TableRow>
		  ))}
		</TableBody>
	  </Table>

</Layout>